<%@contestants.each do |contestant| %>
  <h2>Name: <%=contestant.name%></h2>
  <h3>Project: </h3>
    <% contestant.projects.each do |project| %>
      <p><%= project.name %></p>
      <%end%>
    <%end%>
