<h1>Contestants</h1>

<% @contestants.each do |contestant| %>
<section id='contestants-<%=contestant.id%>'>
  <h3><%= contestant.name %></h3>
  <% contestant.projects.each do |project| %>
  <%= project.name %><br>
  <% end %>
</section>
<% end%>
