<header><h2 class='page-title'>All Contestants</h2></header>
<section class='cards-container'>
<% @contestants.each do |contestant| %>
  <article id="contestant-<%= contestant.id %>" class='contestant card'>
    <%= "#{contestant.name}" %>
    <% contestant.contestant_projects.each do |contestant| %>
      <%= contestant.project.name %>
    <% end %>
  </article>
<% end %>
</section>
