<h1>Contestants</h1>

<% @contestants.each do |contestant| %>
<section id='contestants-<%=contestant.id%>'>
  <h3><%= contestant.name %></h3>
  <p><%= contestant.projects.pluck(:name).join(', ') %></p>
</section>
<% end%>
