<a href="/">Home</a>
</br></br> || <a href="javascript:history.back()">Go Back</a> ||

<h1><%= @contestant.name %></h1>
<p>Age: <%= @contestant.age %></p>
<p>Hometown: <%= @contestant.hometown %></p>
<p>Years of Experience: <%= @contestant.years_of_experience %></p>
