<h1>Welcome to our show page</h1>

<%= "Name: #{@project.name}" %><br><br>
<%= "Material: #{@project.material}" %><br><br>
<%= "Challenge theme: #{@project.challenge.theme}" %><br><br>
<%= "Number of Contestants: #{@project.contestants.count}" %>
