<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Show Page</title>
  </head>

  <body>

    <h3>Project: <%= @project.name %> </h3>
    <p> Material: <%= @project.material %> </p>
    <p> Challenge Theme: <%= @project.challenge.theme %> </p>

  </body>

</html>