<h1>Make It Work</h1>
<h2>A Project Runway Website</h2>
</b>
</b>
<p>PROJECT NAME: <%= @project.name %></p>
</b>
<p>PROJECT MATERIAL: <%= @project.material %></p>
</b>
<p>CHALLENGE THEME: <%= @project.challenge.theme %></p>
</b>
<p>Number of Contestants: <%= @contestants.count %></p>
</b>
